package handlers

import (
	"LineStats/command"
	"LineStats/twitch"
)

func Init() {
	command.RegisterCommand("lastseen", &LastSeen{})
	command.RegisterCommand("lines", &Lines{})
	command.RegisterCommand("randomquote", &RandomQuote{}, "rq")
	command.RegisterCommand("scan", &Scan{})

	command.RegisterCommand("logs", &Logs{}) // Discord only command
}

// IsBlacklisted returns true if the provided user should NOT receive a response from the bot
func IsBlacklisted(user string) bool {
	return false
}

// IsDeveloper will return true if the string provided is a bot developer
func IsDeveloper(user string) bool {
	return false
}
